.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border-radius: 8px;
  border: 1px solid #ddd;
  color: #333;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}

.Dictionary h2 {
  font-size: 20px;
}
